<!-- <div class="shows" *ngIf="shows && shows.length > 0">
    <div class="quantity-results">{{shows.length}} סרטים נמצאו </div>
      
    <div class="results">
      <div class="show" *ngFor="let item of shows" (click)="goShow(item.show.id, item.show.name)">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{item.show.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image *ngIf="item.show.image" [src]="item.show.image.medium" [alt]="item.show.name">
            <mat-card-content>
              <span *ngIf="item.show.rating?.average">
                Rating: {{item.show.rating.average}}<span class="star">*</span>
              </span>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div> -->