<h1>Reactive Forms Validation Example</h1>
    
<form [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">
        
    <div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>שם פרטי</mat-label>
            <input matInput type="text"  formControlName="name" autocomplete="off">
            <button *ngIf="f['name'].value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('name')">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="f['name'].errors as error">
                נא להזין שם 
            </mat-error>
        </mat-form-field>
    </div>
     
    <div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>מייל</mat-label>
            <input matInput type="text"  formControlName="email" autocomplete="off">
            <button *ngIf="f['email'].value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('email')">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="f['email'].errors && f['email'].errors['required'] as error">
                נא להזין מייל 
            </mat-error>
            <mat-error *ngIf="f['email'].errors && f['email'].errors['email'] as error">
               נא להזין מייל בפורמט תקין 
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>גיל</mat-label>
            <input matInput type="text" formControlName="age" numbersOnly autocomplete="off">
            <button *ngIf="f['age'].value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('age')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="f['age'].errors && f['age'].errors['required'] as errors">
                נא להזין גיל
            </mat-error>
            <mat-error *ngIf="f['age'].errors && f['age'].errors['min'] as errors">
                לא ניתן להשתמש תחת לגיל 18
            </mat-error>
        </mat-form-field>
    </div>
    
    <button class="btn-primary" [class.btn-disabled]="personFormGroup.invalid"
        [disabled]="personFormGroup.invalid" 
        type="submit">שלח</button>
</form>