.triangle {
    width: 200px;
    height: 200px;
    border-width: 100px;
    border-style: solid;
    border-top-color: red;
    border-right-color: lime;
    border-bottom-color: aqua;
    border-left-color: yellow;
    margin: auto;
}