<div class="container" *ngIf="movie">
    <div class="result">
        <img class="vote" src="/assets/images/vote.png" [class.disabled-img]="isVoted" (click)="saveVote(movie)" />
        <div class="casts">
            <div class="cast" *ngFor="let cast of casts">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{cast.person.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image *ngIf="cast.person.image" [src]="cast.person.image.medium" [alt]="cast.person.name">
                </mat-card>
            </div>
        </div>
    </div>
    <div class="cast-details">
        <div class="title">{{movie.show.name}}</div>
        <div>
            <h2>Description</h2>
            <div class="description" [innerHTML]="movie.show.summary"></div>
        </div>
        <div *ngIf="episodes?.length">
            <h2>Episodes</h2>
            <ul>
                <ol class="episode" *ngFor="let episode of episodes">
                    #{{episode.number}} {{episode.name}} ({{episode.airdate | date: 'dd/MM/YYYY'}})
                </ol>
            </ul>
        </div>
    </div>
</div>
