.container {
    width: 100%;
    height: 100%;
}

.search {
    width: 100%;
    background: url('../../../assets/images/road-banner.png') no-repeat;
    padding: 2rem 2rem 1.5rem;
    background-size: 100vw 7.5rem;
    box-sizing: border-box;
    // border:1px solid red;
}

.results {
    // border:1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantity-results {
    padding-right: 2rem;
    background-color: var(--white-color);
    margin-bottom: 0.5rem;
}

.movies {
    // padding-top: 1rem;
    background-color: var(--primary-color);
}

.example-card {
    max-width: 25rem;
    min-height: 24.5rem;
}

.movie {
    width: 14rem;
    padding: 0.5rem;
    direction: ltr;
    cursor: pointer;
}

.star {
    color: var(--raiting-color);
}
  
// .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
// }